@model Memcomb.Models.User
<link href="@Url.Content("~/Content/Profile.css")" rel="stylesheet" type="text/css" />
<body>
    <div style="margin-top: 20%;">
        @using (Html.BeginForm("ProfilePicture", "Profile", null, FormMethod.Post, new
        {
            enctype = "multipart/form-data"
        }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="form-inline">
                    <div>
                        @Html.TextBoxFor(model => model.Profile_Picture_imgPath, new { @class = "form-control", type = "file", id = "imageBrowes" })
                    </div>
                    <input type="submit" name="uploadProfile" value="Upload Profile" style="color: saddlebrown; background-color: yellow; border-color: saddlebrown" />
                </div>
            </div>
        }
    </div>
</body>
