body {
	text-align: center; /*Centers all input fields, buttons, and text on screen*/
	display: flex;
	justify-content: center;
	background-color: #333300;
}

.img {
	width: 20%;
}

.inputFields {
	width: 100%; 
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.logInBtn {
	font-weight: bold;
	color: #000000;
	width: 10%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	background-color: #FFFF3E;
	border: 1px solid #FFFF3E;
	border-radius: 4px;
	box-sizing: border-box;
}

.signUpBtn {
	font-weight: bold;
	color: #000000;
	width: 10%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	background-color: #FFFF3E;
	border: 1px solid #FFFF3E;
	border-radius: 4px;
	box-sizing: border-box;
} 
@font-face {
	font-family: neon;
	src: url('../fonts/ocra.ttf') format('truetype');
}

.neon-text {
	font-family: neon;
	font-size: 10rem;
	padding: 0 3.5rem 0 3.5rem;
	color: #ffffff;
	/*text-shadow: .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, .1vw 0vw 0vw #f25757, .2vw 0vw 0vw #f25757, .4vw 0vw 0vw #f25757, .1vw 0vw .1vw #f25757, .2vw 0vw .1vw #f25757, .4vw 0vw .1vw #f25757, .1vw 0vw 2vw #f25757, .2vw 0vw 2vw #f25757, .4vw 0vw 2vw #f25757, .1vw 0vw 1vw #e50b0b, .2vw 0vw 1vw #e50b0b, .4vw 0vw 5vw #e50b0b, .1vw 0vw 5vw #e50b0b, .2vw 0vw 20vw #e50b0b, .4vw 0vw 10vw #e50b0b, .1vw 0vw 10vw #e50b0b, .2vw 0vw 30vw #e50b0b, .4vw 0vw 10vw #e50b0b;*/
	text-shadow: .1vw 0vw .25vw #ffffff, .2vw 0vw .25vw #ffffff, .4vw 0vw .25vw #ffffff, .1vw 0vw 0vw #FFFF3E, .2vw 0vw 0vw #FFFF3E, .4vw 0vw 0vw #FFFF3E, .1vw 0vw .1vw #FFFF3E, .2vw 0vw .1vw #FFFF3E, .4vw 0vw .1vw #FFFF3E, .1vw 0vw 2vw #FFFF3E, .2vw 0vw 2vw #FFFF3E/*, .4vw 0vw 2vw #FFFF3E, .1vw 0vw 1vw #DFE911, .2vw 0vw 1vw #DFE911, .4vw 0vw 5vw #DFE911, .1vw 0vw 5vw #DFE911, .2vw 0vw 20vw #F973A4, .4vw 0vw 10vw #F973A4, .1vw 0vw 10vw #F973A4, .2vw 0vw 30vw #F973A4, .4vw 0vw 10vw #F973A4*/;
}
