#imageUpload{
    display: none;
}
#profileImage{
    cursor: pointer;
}
#paddingbetweenCols td {
    padding: 0 15px 0 0;
}
td{
    font-size: 10pt;
    text-align: center;
    color:#000000;
    border-color: #000;
    border-width: 0 0 1px 0;
    border-style:solid;
    width: 100%;
}