
body {
    /*text-align: center; /*Centers all input fields, buttons, and text on screen*
    display: flex;
    justify-content: center;
    background-color: #333300;
    color: #ffffff;*/
    text-align: center; /*Centers all input fields, buttons, and text on screen*/
    /*display: flex;*/
    justify-content: center;
    /*background-color: #333300;
		background-color: #ff8c00;
	
	background-color: #ff6000;*/
    background-image: linear-gradient( to right, rgba(113,18,3,0) 0%, rgba(113,18,3,0) 5%, rgba(113,18,3,1) 15%, rgba(113,18,3,1) 85%, rgba(113,18,3,0) 95%, rgba(113,18,3,0) 100% ),url('../Images/LogInPageBackground.png');
    background-position: left,center;
    background-repeat: initial,repeat;
    background-attachment: fixed,fixed;
    margin: 0;
}

.head {
    font-size: 10pt;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}
.posts{
    width: auto;
    height: 300px;
    color:darkgoldenrod;
    align-content:center;
}
.banner{
    width: 100%;
    height: 200px;
}
.background-image{
    width: 900px;
    height: 200px;
    color: greenyellow;
    align-content: center;
    border: solid;
    background-color: orange;
    border-color: yellow;
    box-shadow: 0px 0px 20px #FFFF3E;
}
.image-resize{
    display: -webkit-flex;
    -webkit-flex-direction:column;
}
.browserbox{
    background-color: brown;
}
.text-box{
    width: 100%;
    height: 250px;
}
.post-btn{
    color: yellowgreen;
}
.spaceBetween{
    display: flex;
    justify-content: space-between;
}

.lines{
    text-align: left;
    color: #ffffff;
}

.editProfileBtn {
    background-color: #ffffff;
    border: 2px solid #FFFF3E;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.userstyle {
    text-emphasis-color: darkorange
}
.editProfileBtn:hover {
    background-color: #FFFF3E;
    color: #000000;
}

#imageUpload{
    display: none;
}
#profileImage{
    cursor: pointer;
}
#paddingbetweenCols td {
    padding: 0 15px 0 0;
}
.followerRow{
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    color:#ffffff;
    width: 100%;
}
.form-control{
    background-color: saddlebrown;
}
.form-bio{
    background-color: saddlebrown;
    height: 200px;
    align-content: center;
    width: 100%;
}