
.body {
    background: linear-gradient(to right, #312f17 0%, #312f17 12%, #eec33d 13%, #eec33e 87%, #312f17 88%, #312f17 100% );
    justify-content: center;
    margin-left: 110px;
}

.head {
    font-size: 10pt;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}
.posts{
    width: auto;
    height: 300px;
    color:darkgoldenrod;
    align-content:center;
}
.banner{
    width: 88%;
    height: 200px;
}
.background-image{
    width: 100%;
    height: 200px;
    color: greenyellow;
    text-align: center;
    border: solid;
    border-color: yellow;
}
.text-box{
    width: 100%;
    height: 250px;
}
.post-btn{
    color: yellowgreen;
}
.spaceBetween{
    display: flex;
    justify-content: space-between;
}

.lines{
    text-align: left;
    color: #ffffff;
}

.editProfileBtn {
    background-color: #ffffff;
    border: 2px solid #FFFF3E;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.profileBtn {
    margin-right: 110px;
}
.editProfileBtn:hover {
    background-color: #FFFF3E;
    color: #000000;
}

#imageUpload{
    display: none;
}
#profileImage{
    cursor: pointer;
}
#paddingbetweenCols td {
    padding: 0 15px 0 0;
}
.followerRow{
    font-size: 10pt;
    font-weight: bold;
    text-align: left;
    color:#ffffff;
    width: 100%;
}