.body {
	text-align: center; /*Centers all input fields, buttons, and text on screen*/
	display: flex;
	justify-content: center;
	/*background-color: #333300;
		background-color: #ff8c00;
	
	background-color: #ff6000;*/
	background: linear-gradient( to right, #312f17 0%, #312f17 12%, #eec33d 13%, #eec33e 87%, #312f17 88%, #312f17 100% );
	margin: 0;
}
