.body {
	text-align: center; /*Centers all input fields, buttons, and text on screen*/
    justify-content: center;
    background-image: linear-gradient( to right, rgba(113,18,3,0) 0%, rgba(113,18,3,0) 5%, rgba(113,18,3,1) 15%, rgba(113,18,3,1) 85%, rgba(113,18,3,0) 95%, rgba(113,18,3,0) 100% ),url('../Images/LogInPageBackground.png');
    background-position: left,center;
    background-repeat: initial,repeat;
    background-attachment: fixed,fixed;
    margin: 0;
	color: #ffffff; /* Text Color*/
}

.SignUpBtn {
	display: flex;
	justify-content: left;
	font-weight: bold;
	color: #000000;
	width: 100px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	background-color: #FFFF3E;
	border: 1px solid #FFFF3E;
	border-radius: 4px;
	box-sizing: border-box;
}

.labelText{
	font-weight: bold;
}