@{
	ViewBag.Title = "Home Page";
}

	<link href="@Url.Content("~/Content/LoginPage.css")" rel="stylesheet" type="text/css" />

<div class="neon-text">
	MEMCOMB
	<img src="~/Images/memcomb.png" class="img" />
</div>

<div>
	<!--
	<form action="/action_page.php">
		<input type="text" name="FirstName" placeholder="email@example.com"><br>
		<input type="text" name="LastName" placeholder="password"><br>
		<input type="submit" value="Submit">
	</form>-->
	<input class="inputFields" type="text" name="FirstName" placeholder="Username or Email"><br>
	<input class="inputFields" type="text" name="LastName" placeholder="Password"><br>
	<input class="logInBtn" type="submit" value="Log In">
	<div>
		<a href="@Url.Action("Create", "SignUps")">
			Sign Up
		</a>
	</div>
	
</div>
