@{ 
    ViewBag.Title = "Profile";
}
<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <h1>User's name</h1>
    <asp:ImageButton />
    <p>Hello, This is user and this is my bio</p>
</head>
<body>
</body>
</html>
