
@model Memcomb.Models.Fragment
@using Memcomb.Models

<div class="btn chooseImgBtn">

	@Html.TextBoxFor(model => model.getImagePath, new { @class = "form-control", type = "file", onchange = "document.getElementById('imgPreview').src = window.URL.createObjectURL(this.files[0])" })

	<img id="imgPreview" class="img-responsive" />

</div>
