@{
    ViewBag.Title = "Login Page";
}

<link href="@Url.Content("~/Content/LoginPage.css")" rel="stylesheet" type="text/css" />

<head class="head">
    <div class="neon-text">
        MEMCOMB
        <img src="~/Images/memcombLogoNew.png" class="img" />
    </div>
</head>

<body class="body">
	<div >
		<input class="inputFields" type="text" name="FirstName" placeholder="email@example.com"><br>
		<input class="inputFields" type="password" name="LastName" placeholder="password"><br>
		<div>
			<a href=@Url.Action("Index","HomePage") class="logInBtn">
				Log In
			</a>
			<a href="@Url.Action("Index", "SignUpPage")" class="signUpBtn">
				Sign Up
			</a>
		</div>
		<div>
			<a href="@Url.Action("Create", "SignUps")">
				Forgot password?
			</a>
		</div>
	</div>
</body>